<!-- app/views/dashboard/index.html.erb -->
<div class="grid grid-cols-1 md:grid-cols-2 gap-4 justify-items-center items-center">
  <!-- Bar Chart -->
  <div 
  data-controller="barchart" 
  data-barchart-guest-counts="<%= @guests_group_by_name.to_json %>" 
  class="w-[300px] h-[150px] flex justify-center items-center">
    <canvas id="bar-chart" data-barchart-target="myBarChart" class="w-[200px] h-[200px]" ></canvas>
  </div>
  <!-- Another Bar Chart (if needed) -->
  <div 
  data-controller="barchart" 
  data-barchart-guest-counts="<%= @guests_group_by_name.to_json %>" 
  class="w-[300px] h-[150px] flex justify-center items-center">
    <canvas id="bar-chart" data-barchart-target="myBarChart" class="w-[200px] h-[200px]" ></canvas>
  </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4 justify-items-center items-center">
  <!-- Bar Chart -->
  <div 
  data-controller="barchart" 
  data-barchart-guest-counts="<%= @guests_group_by_name.to_json %>" 
  class="w-[300px] h-[150px] flex justify-center items-center">
    <canvas id="bar-chart" data-barchart-target="myBarChart" class="w-[200px] h-[200px]" ></canvas>
  </div>
  <!-- Donut Chart -->
  <div 
  data-controller="donutschart" 
  data-donutschart-guest-counts="<%= @guests_how_do_you_know_us.to_json %>" 
  class="w-[300px] h-[300px] flex justify-center items-center">
    <canvas id="donuts-chart" 
        data-donutschart-target="myDonutsChart" class="w-[200px] h-[200px]"
    >
    </canvas>
  </div>
</div>
