<!-- Chart Container -->
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <div data-controller="barchart" class="flex justify-center items-center">
    <canvas id="bar-chart" data-barchart-target="myBarChart" class="w-[300px] h-[300px]"></canvas>
  </div>
  <div data-controller="barchart" class="flex justify-center items-center">
    <canvas id="bar-chart" data-barchart-target="myBarChart" class="w-[300px] h-[300px]"></canvas>
  </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <div data-controller="barchart" class="flex justify-center items-center">
    <canvas id="bar-chart" data-barchart-target="myBarChart" class="w-[300px] h-[300px]"></canvas>
  </div>
  <div data-controller="donutschart" class="flex justify-center items-center">
    <canvas id="donuts-chart" data-donutschart-target="myDonutsChart" class="w-[300px] h-[300px]"></canvas>
  </div>
</div>
