<h1><%= t(".title")%></h1>
<%= render 'form_new_guest', guest: @guest %>
<div>
  <%= link_to  t("button.goback"), @guest, class: "btn btn-primary" %>
  <%= link_to t("button.find", model: guest.model_name.human.downcase), guests_path, class: "btn btn-secondary" %>
</div>
