<h1>Editing prestation</h1>

<%= render "form", prestation: @prestation %>

<br>

<div>
  <%= link_to "Show this prestation", @prestation %> |
  <%= link_to "Back to prestations", prestations_path %>
</div>
