<p style="color: green"><%= notice %></p>

<h1>Prestations</h1>

<div id="prestations">
  <% @prestations.each do |prestation| %>
    <%= render prestation %>
    <p>
      <%= link_to "Show this prestation", prestation %>
    </p>
  <% end %>
</div>

<%= link_to "New prestation", new_prestation_path %>
