#login-form {
  background-color: aqua;
}

.login-body {
  &-left {
    background-color: purple;
  }
  &-right {
    background-color: yellow;
  }
}

// .container {
//   width: 100%;
//   max-width: 600px;
//   margin: 0 auto;
//   padding: 20px;
//   background-color: #f9f9f9;
//   border: 1px solid #ddd;
//   border-radius: 10px;
//   background-color: pink;
// }
// .logo {
//   display: block;
//   margin: 0 auto 20px;
//   width: 150px;
//   height: 150px;
//   border-radius: 50%;
// }
// .row {
//   margin-bottom: 20px;
// }
// h2 {
//   text-align: center;
//   font-size: 24px;
//   color: #333;
// }
// .form-inputs {
//   margin-bottom: 20px;
// }
// .form-inputs label {
//   display: block;
//   margin-bottom: 5px;
//   font-weight: bold;
// }
// .form-inputs input[type="email"],
// .form-inputs input[type="password"] {
//   width: 100%;
//   padding: 10px;
//   margin-bottom: 10px;
//   border: 1px solid #ccc;
//   border-radius: 5px;
// }
// .form-actions {
//   text-align: center;
// }
// .form-actions button {
//   padding: 10px 20px;
//   background-color: #007bff;
//   color: #fff;
//   border: none;
//   border-radius: 5px;
//   cursor: pointer;
// }
// .form-actions button:hover {
//   background-color: #0056b3;
// }
// .links {
//   text-align: center;
//   margin-top: 20px;
// }
// .links a {
//   color: #007bff;
//   text-decoration: none;
// }
// .links a:hover {
//   text-decoration: underline;
// }
