<div class="text-red-600">
  <%= t('devise.registrations.edit.label_error_title') %>
  <ul>
    <% resource.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>