<header class="sticky top-0 z-50 w-full bg-white shadow-sm">
  <%# <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between items-center h-16"> %>
  <div class="flex justify-between items-center h-16">
    <%= render 'partials/components/logo', logo_color: 'text-black' %>
    <%= render 'partials/navbar/navbar-user-avatar' %>
    <%= render 'partials/navbar/navbar-links' %>
    <%= render 'partials/navbar/navbar-wheel' %>
  </div>
</header>
