<div class="side-menu">
  <%= link_to "clients", clients_path, class: "link-clients" %>
  <%= link_to "prestations", prestations_path, class: "link-prestations" %>
  <%= link_to "transactions", transactions_path, class: "link-transactions" %>
</div>
