<div class="side-menu">
  <%= link_to t("sidebar_link_dashboard"), dashboard_index_path, class: "" %>
  <%= link_to t("sidebar_link_clients"), clients_path, class: "link-clients" %>
  <%= link_to t("sidebar_link_services"), prestations_path, class: "link-prestations" %>
  <%= link_to t("sidebar_link_transactions"), transactions_path, class: "link-transactions" %>
</div>
