<h1><%= @user.website %>'s Profile</h1>
<% if @services.present? %>
  <% @services.each do |service| %>
    <div class="service">
      <h2><%= service.name %></h2>
      <p><%= service.price %></p>
    </div>
  <% end %>
<% else %>
  <p>No services available.</p>
<% end %>
<% if policy(@user).edit_website? %>
  <%= link_to 'Edit Profile', edit_user_profile_path(@user.website), class: 'btn btn-primary' %>
<% end %>
