<div data-search-clients-target="list">
  <% if params[:query].present? %>
    <p>
      <%= t('.list_with_query_html', count: @clients.size, query: params[:query]) %>
    </p>
  <% end %>
  <div class="clients">
    <% @clients.each do |client| %>
      <%= render "client_card", client: client %>
    <% end %>
  </div>
</div>
