<div data-search-clients-target="list">
  <p class="h3">
    <% if params[:query].present? %>
      <%= t('.list_with_query', count: @clients.size, query: params[:query]) %>
    <% end %>
  </p>
  <div class="clients">
    <% @clients.each do |client| %>
      <%= render "client_infos", client: client %>
    <% end %>
  </div>
</div>
