<div class="">
  <%= link_to t('navbar_link_new-user'), new_user_registration_path, class: "bg-blue-600 text-white rounded px-4 py-2 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  <%= link_to t('navbar_link_login'), new_user_session_path, class: "bg-blue-600 text-white rounded px-4 py-2 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
</div>
