<h1><%= t('offers_and_subscription') %></h1>
<%= link_to t('link_go_to', model: t('accueil_h1').downcase), root_path, class: "link" %>


  hello<p class="import-test">✅ If this is red and bold, your import works!</p>

