<h1><%= t('offers_and_subscription') %></h1>
<%= link_to t('link.goto', model: t('accueil_h1').downcase), root_path, class: "link" %>


<div class="      text-customLimeGreen bg-customLimeGreen bg-opacity-20 font-semibold border-b-8 border-customLimeGreen transition duration-200 text-lg">

  hello
</div>