<div id="<%= dom_id(guest) %>">
  <%= render "guests/show/guest_general_informations", guest: @guest %> <!-- Adjusted render path -->
  <%#= render "guests/show/guest_lash", guest: @guest %> <!-- Adjusted render path -->
  <%#= render "guests/show/guest_extension", guest: @guest %> <!-- Adjusted render path -->
  <%#= render "guests/show/guest_health", guest: @guest %> <!-- Adjusted render path -->
</div>
