<!-- _checkbox_toggle_button.html.erb -->
<%= content_tag :label, class: "inline-flex items-center cursor-pointer" do %>
  <%= form.check_box field_name, class: "sr-only peer", checked: form.object.send(field_name) %>
  <div class="relative w-11 h-6 bg-black rounded-full peer-focus:ring-4 peer-focus:ring-white dark:peer-focus:ring-white dark:bg-green-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-white after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-white peer-checked:bg-red-500 dark:peer-checked:bg-red-500"></div>
  <span class="ms-3 text-sm font-medium text-black dark:text-black"><%= label %></span>
<% end %>
