@import "bootstrap";
@import "./variables/colors";
@import "./components/card";
@import "./components/card-client";
@import "./clients";
@import "./dashboard";
@import "./side-menu";
@import "./partials/alert";
@import "./partials/navbar";
@import "./partials/footer";
@import "./transactions";

#main {
  display: flex;
}

.main-right {
  width: 100%;
}

.turbo-progress-bar {
  height: 5px;
  background: linear-gradient(to right, transparent, var(--pink));
}

.translation_missing {
  background-color: red;
  color: white;
}
