/* app/assets/stylesheets/application.tailwind.css */

/* Tailwind's base styles */
@tailwind base;

/* Tailwind's component styles */
@tailwind components;

/* Tailwind's utility styles */
@tailwind utilities;

@layer base {
  .translation_missing {
    background-color: red;
    color: white;
    font-weight: bold;
  }

  .alert {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 1000; */
    width: 100%;
    height: 40px;
    font-size: 20px;
    background-color: var(
      --pink,
      pink
    ); /* Fallback to 'pink' if --pink isn't defined */
    color: white;
    animation: fadeOut 2s forwards;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1; /* Keep full opacity */
    }
    100% {
      opacity: 0; /* End with no opacity (completely invisible) */
      display: none;
    }
  }
}
