// Custom SCSS Imports with @use syntax
// @use "variables/colors";
@use "variables/variables";
@use "components/components";
@use "pages/pages";
@use "partials/partials";

body {
  margin: 10px;
}
// Additional custom SCSS
a {
  text-decoration: none;
  color: rgb(70, 63, 63);
  font-weight: 700;
}

#main {
  display: flex;
  // background: var(--pink);
}

.translation_missing {
  background-color: red;
  color: white;
}
